<!-- new item -->
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<button type="button" class="btn btn-default btn-block" ng-click="vm.toggleAddForm()">{{vm.showAddForm ? 'Cancel' : 'Add Data' }}</button>
		
		<div ng-show="vm.showAddForm">
			<rd-new-published></rd-new-published>
			<button ng-click="vm.addPub(vm.newItem)" type="submit" class="btn btn-danger btn-lg">Add</button>
		</div>
	</div>
</div>

<hr>

<!-- published item list -->
<div class="row">
	<div ng-repeat="publishedItem in vm.publishedData">
		
		<!--correct block height display problem-->
		<div ng-if="$index % 2 == 0" class="clearfix"></div>
		
		<rd-published class="col-md-6"></rd-published>
	</div>
</div>