<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Data App</title>
	<link rel="stylesheet" type="text/css" href="dist/style/style.css">
</head>
<body>
	<div ng-app="app">
		
		<a href="#/published">Published</a>
		<a href="#/reached">Reached</a>
		  
		  
		<h1><%= title %></h1>
		<div class="container" ng-view></div>
	</div>
	
	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<p class="text-muted pull-right">Made with coffee by me.</p>
		</div>
	</footer>
	<!-- End Footer -->
	<!-- Scripts -->
    
    <!--- vendor -->
    <script src="/socket.io/socket.io.js"></script> 
	
	<script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	
	<script src="bower_components/d3/d3.js"></script>
    
    <!---- angular -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
	
	<!--- user -->
    <!-- Bootstraping -->
    <script src="scripts/app.module.js"></script>
    
    <!-- Config -->
    <script src="scripts/config/app.config.js"></script>
</body>
</html>