<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Data App</title>
	<link rel="stylesheet" type="text/css" href="dist/style/style.css">
</head>
<body>
	<!-- ng-app -->
	<div ng-app="app">
		
		<!-- Main Controller div -->
		<div ng-controller="MainController as vm">
			
				<a href="#/published">Published</a>
				<a href="#/reached">Reached</a>
				
				<h1><%= title %></h1>
				<div class="container" ng-view></div>
			
			<!-- Footer -->
			<footer class="footer">
				<div class="container">
					<p class="text-muted pull-right">Made with coffee by vm.name.</p>
				</div>
			</footer>
			<!-- End Footer -->
		</div>
	<!-- End Main Controller div -->
	</div>
	<!-- End ng-app -->
	
	<!-- Scripts -->
    
    <!--- vendor -->
    <script src="/socket.io/socket.io.js"></script> 
	
	<script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	
	<script src="bower_components/d3/d3.js"></script>
    
    <!---- angular -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
	
	<!--- user -->
    <!-- Bootstraping -->
    <script src="scripts/app.module.js"></script>
    
    <!-- Config -->
    <script src="scripts/config/app.config.js"></script>
	
	<!-- Services -->
    <script src="scripts/services/data.factory.js"></script>
	
	<!-- Controllers -->
	<script src="scripts/controllers/main.controller.js"></script>
    <script src="scripts/controllers/published.controller.js"></script>
    <script src="scripts/controllers/reach.controller.js"></script>
</body>
</html>