<form class="panel panel-primary rd-form" ng-submit="vm.addPub(vm.newItem)">
	<div class="panel-heading rd-form-id">
		<input class="form-control" type="text" ng-model="vm.newItem.id" required/>
	</div>
	<div class="row panel-body">
		<div class="col-md-6">
			
			<!--item thumbnail-->
			<label>Media:</label>
			<p><input type="text"  class="form-control" ng-model="vm.newItem.content.media.url" placeholder="paste url here"/></p>
			<!--basic item info-->
			<label>Status:</label>
			<p><input type="text"  class="form-control" ng-model="vm.newItem.status"/></p>
			<label>Type:</label>
			<p><input type="text"  class="form-control" ng-model="vm.newItem.content.postType"/></p>
			<label>Scheduled:</label>
			<p><input type="text"  class="form-control" ng-model="vm.newItem.scheduled"/></p>
		</div>
		
		<div class="col-md-6">
			
			<label>Message:</label><br/>
			<textarea  type="text"  class="form-control" ng-model="vm.newItem.content.message"/><br/>
			<label>Network: </label>
			<p><input   class="form-control" ng-model="vm.newItem.content.network" type="text"></p>
			<label>Post Type: </label>
			<p><input  class="form-control" ng-model="vm.newItem.content.postType" type="text"></p>
		</div>
	</div>
	<div class="row text-center">
		<button type="submit" class="btn btn-danger btn-lg">Add</button>
	</div>
</form>
	