<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 ng-hide="editable" ng-bind="publishedItem.id" style="text-overflow: ellipsis;overflow: hidden;">ID</h3>
		<div ng-show="editable">
			<input class="form-control" type="text" ng-model="publishedItem.id"/>
		</div>
	</div>
	<div class="row panel-body">
		
			<div class="col-md-4">
				
				<!--item thumbnail-->
				<div ng-hide="editable" class="thumbnail">
					<a href="{{publishedItem.content.media.url}}" target="new"><img data-ng-src="{{publishedItem.content.media.url}}" alt="{{publishedItem.content.media.fileName}}" style="height:100px;"></a>
				</div>
				<p>
					<input ng-show="editable" type="text" ng-model="publishedItem.content.media.url" placeholder="paste url here"/>
				</p>
				
				<!--basic item info-->
				<b>Status:</b>
				<p ng-show="!editable" ng-bind="publishedItem.status">{{publishedItem.status}}</p>
				<p><input ng-show="editable" type="text" ng-model="publishedItem.status"/></p>
				<b>Type:</b>
				<p ng-show="!editable" ng-bind="publishedItem.content.postType"> {{publishedItem.content.postType}}</p>
				<p><input ng-show="editable" type="text" ng-model="publishedItem.content.postType"/></p>
				<b>Scheduled:</b>
				<p ng-show="!editable" ng-bind="publishedItem.scheduled"></p>
				<p><input ng-show="editable" type="text" ng-model="publishedItem.scheduled"/></p>
			</div>
			
			<div class="col-md-8">
				
				<div class="row">
					<div class="col-md-12">
						<label>Message:</label><br/>
						<h5 ng-show="!editable" ng-bind="publishedItem.content.message"></h5>
						<textarea ng-show="editable" type="text" ng-model="publishedItem.content.message"/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<b>Network: </b><p ng-show="!editable" ng-bind="publishedItem.content.network"></p>
						<p><input ng-show="editable" ng-model="publishedItem.content.network" type="text"></p>
						<b>Post Type: </b><p ng-show="!editable" ng-bind="publishedItem.content.postType"></p>
						<p><input ng-show="editable" ng-model="publishedItem.content.postType" type="text"></p>
					</div>
					<div class="col-md-6">
						<!--geo data-->
						<div ng-hide="editable" ng-repeat="(geoProp, geoItem) in publishedItem.geo">
							<b style="text-transform: capitalize">{{geoProp}} : </b><p ng-repeat="geoSubItem in geoItem">{{geoSubItem.value}}</p>
						</div>
					</div>
				</div>
				<!--panel content bottom-->
				<div class="row">
					<!--panel action buttons-->
					<div class="col-md-6">
						<a ng-hide="editable" ng-repeat="tag in publishedItem.tags track by $index" role="presentation"><em>{{tag}}</em>  </a>
					</div>
					<div class="col-md-6 pull-right">
						<div class="btn-group" role="group" aria-label="Action Button">
							<button ng-hide="editable" ng-click="vm.deletePub($index)"  type="button" class="btn btn-danger">Delete</button>
							<button ng-hide="editable" ng-click="editable = true" type="button" class="btn btn-default">Edit</button>
							<button ng-show="editable" ng-click="vm.updatePub($index, publishedItem); editable = false" type="button" class="btn btn-danger">Save</button>
							<button ng-show="editable" ng-click="editable = false"  type="button" class="btn btn-default">Cancel</button>
						</div>
					</div>
					<!--end panel action buttons-->
				</div>
				<!--end panel content bottom-->
			</div>
			<!--end panel right side-->
		</div>
		<!--end panel content top-->
</div>
	