@import '../bower_components/bootstrap/less/bootstrap.less';

@link-color: steelblue;
@bar-color : #0277BD;
@default-padding:  25px;
@logo-height : 30px;

body {
  padding: 2 * @default-padding;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: @link-color;
  
  &:hover,
  &:focus {
        color: lighten(@link-color, 10%);
    }
}

hr {
  padding: @default-padding;
}

// Nav

.rd-logo {
    height : @logo-height;    
} 

.navbar-nav {
    li {
        a {
            text-transform: uppercase;
        }
    }
}

// Bar Chart

.rd-chart {
  overflow : visible !important;
}
    
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.bar:hover {
  opacity: 0.5;
}